In [ ]:
#List Comprehensions
null_list = []

salaries = [1000,2000,3000,4000,5000]

def new_salary(value):
    value = value + value*20/100
    return value

[null_list.append(new_salary(x)) if x<3000 else null_list.append(x) for x in values]
print(null_list)

[1200.0, 2400.0, 3000, 4000, 5000]

In [8]:
[salary*2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [10]:
students = ["John","Mark","Venessa","Mariam"]
students_no = ["John","Venessa"]

[print(student.upper()) if student not in students_no else print(student.lower()) for student in students ]

john
MARK
venessa
MARIAM

[None, None, None, None]

In [4]:
#Dict Comprehension
dictionary = {"a":1,
              "b":2,
              "c":3,
              "d":4}

print(dictionary.keys())
print("--------")
print(dictionary.values())
print("--------")
print(dictionary.items())

dict_keys(['a', 'b', 'c', 'd'])
--------
dict_values([1, 2, 3, 4])
--------
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [11]:
{k : v **2 for (k,v) in dictionary.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [12]:
{k.upper() : v*2  for (k,v) in dictionary.items()}

{'A': 2, 'B': 4, 'C': 6, 'D': 8}

In [17]:
#Put the square of even numbers to the list 
#EX: expected output =  1:1 ,2:4 ,3:3,4,16...

numbers = range(10)
{n:(n**2 if n%2==0 else n) for n in numbers }

{0: 0, 1: 1, 2: 4, 3: 3, 4: 16, 5: 5, 6: 36, 7: 7, 8: 64, 9: 9}

In [48]:
import seaborn as sns
df = sns.load_dataset("car_crashes")

df.columns = [column.upper() for column in df.columns]
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [45]:
df.columns = ["INS_"+column if column.startswith("INS") else "NO_FLAG_"+column for column in df.columns]
df.columns

Index(['NO_FLAG_TOTAL', 'NO_FLAG_SPEEDING', 'NO_FLAG_ALCOHOL',
       'NO_FLAG_NOT_DISTRACTED', 'NO_FLAG_NO_PREVIOUS', 'INS_INS_PREMIUM',
       'INS_INS_LOSSES', 'NO_FLAG_ABBREV'],
      dtype='object')

In [47]:
["FLAG_" + col for col in df.columns if "INS" in col]

['FLAG_INS_PREMIUM', 'FLAG_INS_LOSSES']

In [63]:


num_cols = [col for col in df.columns if df[col].dtype != "O"]
agg_list= ["mean","min","max","sum"]

print(num_cols)

dict = {col : agg_list for col in num_cols}
print(dict)

print(df.head())
print("--------------------")
print(df[num_cols].head())


df[num_cols].agg(dict)

['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM', 'INS_LOSSES']
{'TOTAL': ['mean', 'min', 'max', 'sum'], 'SPEEDING': ['mean', 'min', 'max', 'sum'], 'ALCOHOL': ['mean', 'min', 'max', 'sum'], 'NOT_DISTRACTED': ['mean', 'min', 'max', 'sum'], 'NO_PREVIOUS': ['mean', 'min', 'max', 'sum'], 'INS_PREMIUM': ['mean', 'min', 'max', 'sum'], 'INS_LOSSES': ['mean', 'min', 'max', 'sum']}
   TOTAL  SPEEDING  ALCOHOL  NOT_DISTRACTED  NO_PREVIOUS  INS_PREMIUM  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   INS_LOSSES ABBREV
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA
--------------------
   TOTAL  SPEEDING  ALCOHOL  NOT_DISTRACTED  NO_PREVIOUS  INS_PREMIUM  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   INS_LOSSES
0      145.08
1      133.93
2      110.35
3      142.39
4      165.63

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000